div#aboutus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1rem;
  //   max-width: 900px;
  margin: auto;
  .heading {
    font-size: 3rem !important;
    text-align: center;
    // padding: 1rem;
  }

  img {
    width: 50%;
  }

  p {
    margin: auto !important;
    font-size: 1.5em !important;
    display: block;
  }
}
